{% extends "base.html" %}

{% block content %}
<h1>Customers</h1>

<table border="1" cellpadding="8">
    <tr>
        <th>ID</th>
        <th>Account No</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Created At</th>
        <th>Updated At</th>
    </tr>

    {% for customer in customers %}
    <tr>
        <td>{{ customer.id }}</td>
        <td>{{ customer.account_no }}</td>
        <td>{{ customer.full_name }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.created_at }}</td>
        <td>{{ customer.updated_at }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}